HTML,
BODY {
  height: 100%;
}

BODY {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linen;
  font: 28vw/1 Arial Black, sans-serif;
  text-align: center;
  color: hotpink;
}

.rect {
  /* white-space: nowrap; */
  filter: url(#rect);
  outline: none;

  /* selection {
    background: rgba(0,0,0,.15);
  } */
}
